body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.imagen_centrada{
    display:flex;
    justify-content: center;

}
.imgcentral{
    width: 100px;
}
#visit-counter {
    font-size: 20px;
    margin-top: 20px;
}
